#root {
  --bg: #FAFAFA;
  --p-color: #82A6DF /*#4B2C7A*/;
  --text-b: #252525;
  --text-l: #545454;
  --shadow: 0 0 3px rgba(0, 0, 0, .16);
  background-color: var(--bg);
  color: var(--text-b);
  width: 100vw;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login {
  width: 90%;
  max-width: 400px;
  padding: 28px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.login h1 {
  font-size: 21px;
  text-align: center;
  margin-bottom: 14px;
}

.login form div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 14px;
  margin-bottom: 14px;
}

.login form div div {
  gap: 7px
}

.login form div div label {
  font-weight: 600;
}

.login form div div input {
  color: var(--text-b);
  padding-left: 7px;
}

.login form div div input:focus {
  outline: none;
}

.login form input[type="submit"] {
  background-color: var(--p-color);
  padding: 7px 14px;
  border-radius: 7px;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.chat-room {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-room .container {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 14px;
  height: 90%;
  max-height: 480px;
  width: 90%;
  max-width: 500px;
  padding: 14px;
  border-radius: 7px;
  box-shadow: var(--shadow);
  background-color: #fff;
}

.chat-room .container .chat {
  display: grid;
  grid-template-rows: auto 1fr 40px;
  overflow: hidden;
}

.chat-room .container .chat .messages {
  overflow-y: auto;
}

.chat-room .container .chat h2 {
  font-size: 18px;
  margin-bottom: 14px;
}

.chat-room .container .chat .message {  
  background: rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 4.5px;
  border-radius: 7px;
  margin-bottom: 14px;
}

.chat-room .container .chat .message.message-me {
  background-color: rgba(109, 221, 255, 0.233);
  margin-left: 20%;
}

.chat-room .container .chat .chat-input {
  border-top: solid 1px var(--text-l);
  display: grid;
  grid-template-columns: 1fr 70px;
}

.chat-room .container .chat .chat-input input[type="button"] {
  text-transform: uppercase;
  background-color: var(--p-color);
}

.chat-room .container .chat .chat-input input:focus {
  outline: none;
}

.chat-room .container .people {
  padding: 0px 7px;
}

.chat-room .container .people h2 {
  font-size: 18px;
  margin-bottom: 14px;
}

.chat-room .container .people p {
  position: relative;
  padding-left: 14px;
  margin-bottom: 14px;
}

.chat-room .container .people p:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: greenyellow;
}